// Grid settings
$main-sm-columns:       12;
$sidebar-sm-columns:    4;

$primary-color:         #bf1e2e;
$dark-red:              #A32125;
$light-red:             #bd262b1a;

$green:                 #68F018;
$matte-green:           #5BC559;
$orange:                #F05518;
$brown:                 #573E34;
$blue:                  #0E5C8A;
$yellow:                #C8C53C;
