.lscf-template3-post {
   border:1px solid white;
   padding: 10px 20px 0px 20px;
   margin-bottom: 5vh;
  
  &:hover {
    border:1px solid black;
  }
  
    .lscf-template3-featured-image {
       background-color: white !important; 
    }

    // set height of product image container
    .lscf-template3-image {
        padding-top: 44% !important;
    }

    .lscf-template3-link {
      text-align: left !important;
    }

    .lscf-template3-li-title {
      padding: 0.2em 0;
      height: inherit;

    }
}

.quantity_selector {
    border: 2px solid #c12a1e;
    position: absolute;
    width: 40px;
    height: 39px;
    display: block;
    z-index: 99;
    font-size: 10px;
    line-height: 2;
    background: #fff;
  
    top: 61px;
    text-align: center;
  
    transform: translateY(110%);
    -webkit-transform: translateY(110%);
    -moz-transform: translateY(110%);
    -ms-transform: translateY(110%);
    -o-transform: translateY(110%);
    
}

.lscf-template3-woocommerce-display:hover .quantity_selector {
      transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    -webkit-transition: all 0.4s cubic-bezier(0.28, 0, 0.07, 1);
    -moz-transition: all 0.4s cubic-bezier(0.28, 0, 0.07, 1);
    -ms-transition: all 0.4s cubic-bezier(0.28, 0, 0.07, 1);
    -o-transition: all 0.4s cubic-bezier(0.28, 0, 0.07, 1);
}



.kutyakaka {
  display:none;
}